<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="./internal_logs/internallog.txt">
  
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}_logfile.log"  layout="${callsite} ${longdate} ${uppercase:${level}} ${message}"/>
    <target xsi:type="ColoredConsole" name="consoleTarget"  layout="${callsite} ${longdate} ${uppercase:${level}} ${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
  
</nlog>